{
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-irregular-whitespace": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jasmine": true,
    "protractor": true
  },
  "globals": {
    "angular": true
  },
  "extends": "eslint:recommended"
}
